[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
bidict = "*"
boto3 = "*"
click = "*"
dnspython = "*"
eventlet = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = "*"
gunicorn = "*"
jinja2 = "*"
python-dotenv = "*"
python-editor = "*"
python-engineio = "*"
python-socketio = "*"

[dev-packages]
psycopg2-binary = "*"

[requires]
python_version = "3.9"
